.balance {
    display: flex;
    align-items: center;
}

.walletContainer {
    position: absolute;
    bottom: 1rem;
    left: 50%;

    transform: translateX(-50%) translateY(50%);
}

.walletContainer p {
    margin-bottom: 0;
    text-align: center;

    display: flex;
    align-items: center;
    justify-content: center;
}
