.main {
  min-height: 80vh;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title a {
  color: white;
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
}

.title,
.description {
  text-align: center;
}

.description {
  margin: 4rem 0;
  line-height: 1.5;
  font-size: 1.5rem;
}

.linkbutton {
  padding: 0.5rem;
  margin-top: 0.5rem;
}

.tagline {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.tagline p {
  text-align: center;
  font-style: italic
}

.hrContainer {
  width: 20%;
  margin: 0 1rem;
}